*.log
.DS_Store
bower_components
node_modules
example
# <<<<<<< HEAD
# public/bundle.js
# =======
# bundle.js
# >>>>>>> 0761d5651462bb00de8b5c49e4263487fd1db399

# jest coverage folder

coverage/

# webpack/package
package-lock.json


